Repository PRO-Stonks/Projet_Stonks, pull requests merged in 2021-05, with the labels that each got.

#64 Add user functionality
  web/package.json
  web/src/URL.js
  web/src/admin/QR/PrinterWrapper.js
  web/src/admin/QR/QRCodeCreator.js
  web/src/admin/user/UserForm.js
  web/src/admin/user/UserListElement.js
  web/src/admin/user/UserManagementMenu.js
  web/src/admin/user/UserManager.js
  web/src/css/App.css
  web/src/login/LogInForm2.js
  web/src/pages/Footer.js
  web/src/pages/HomePage.js
  web/src/pages/NavAdmin.js
  web/src/pages/NavWelcome.js
  web/src/utils/list/Itemtest.js
  web/src/utils/list/List.js
  web/src/utils/validateEmail.js
Labels: Web

#72 [TOREVIEW] Product - remove get and fix bug update
  web/src/App.js
  web/src/MainPage.js
  web/src/admin/product/ActionsForm.js
  web/src/admin/product/Product.js
  web/src/admin/product/ProductdetailsForm/ProductFormGetAll.js
  web/src/admin/product/ProductdetailsForm/ProductFormUpdate.js
  web/src/admin/product/ProductdetailsForm/ProductListElement.js
  web/src/login/LogInForm2.js
  web/src/pages/HomePage.js
  web/src/pages/NavAdmin.js
Labels: Web, bug

#75 Added route (/elements/QR/{code}) and test for that route
  Server/controllers/elementController.js
  Server/routes/elementRoutes.js
  Server/test/controller/elementControllerTest.js
Labels: Server

#81 Update dist.yaml
  docs/dist.yaml
Labels: API Error

#79 server differentiate active
  Server/models/elementModel.js
  Server/models/locationModel.js
  Server/models/productModel.js
  Server/models/userModel.js
Labels: Server

#83 server add populate
  Server/controllers/baseController.js
  Server/controllers/elementController.js
  Server/routes/QRRoutes.js
  Server/routes/elementRoutes.js
  Server/test/controller/elementControllerTest.js
Labels: Server

#80 web stocks management
  web/src/admin/stocks/LocationManagement/ElementByLocationManager.js
  web/src/admin/stocks/LocationManagement/ElementListElement.js
  web/src/admin/stocks/LocationManagement/LocationListElement.js
  web/src/admin/stocks/LocationManagement/LocationManager.js
  web/src/admin/stocks/ProductManagement/ElementByProductManager.js
  web/src/admin/stocks/ProductManagement/ElementListElement.js
  web/src/admin/stocks/ProductManagement/ProductListElement.js
  web/src/admin/stocks/ProductManagement/ProductManager.js
  web/src/admin/stocks/StocksManagerMenu.js
  web/src/pages/HomePage.js
  web/src/utils/list/List.js
Labels: Web

#87 Added route
  Server/controllers/elementController.js
  Server/routes/elementRoutes.js
Labels: Server

#82 [TOREVIEW] QR improvement
  web/package.json
  web/src/admin/QR/PrinterWrapper.js
  web/src/admin/QR/QR.js
Labels: Web, enhancement

#91 [TOREVIEW] Handle non-active objects
  web/src/admin/location/Location.js
  web/src/admin/location/LocationdetailsForm/LocationFormDelete.js
  web/src/admin/location/LocationdetailsForm/LocationFormUpdate.js
  web/src/admin/location/LocationdetailsForm/LocationListElement.js
  web/src/admin/product/Product.js
  web/src/admin/product/ProductdetailsForm/ProductFormDelete.js
  web/src/admin/product/ProductdetailsForm/ProductFormUpdate.js
  web/src/admin/product/ProductdetailsForm/ProductListElement.js
  web/src/admin/user/UserListElement.js
  web/src/admin/user/UserManagementMenu.js
Labels: Web, enhancement

#92 Added option to populate query
  Server/controllers/baseController.js
  Server/utils/apiFeatures.js
  Server/utils/appError.js
Labels: Server, enhancement

#94 Fp app delete
  STONKS/navigation/Navigation.js
  STONKS/request/deleteElement.js
  STONKS/screens/Delete.js
  STONKS/screens/Options.js
Labels: App

#97 Fb app info
  STONKS/navigation/Navigation.js
  STONKS/request/getElement.js
  STONKS/screens/DisplayInfo.js
  STONKS/screens/Info.js
  STONKS/screens/Options.js
Labels: App

#69 Added logout
  STONKS/navigation/Navigation.js
  STONKS/screens/Menu.js
Labels: App, enhancement

#99 Fb server add event by product
  Server/controllers/QRController.js
  Server/controllers/authController.js
  Server/controllers/baseController.js
  Server/controllers/elementController.js
  Server/controllers/eventController.js
  Server/models/eventModel.js
  Server/routes/eventRoutes.js
  Server/test/controller/elementControllerTest.js
  Server/test/models/elementModelTest.js
  Server/test/models/eventModelTest.js
  package.json
Labels: Server

#100 Update dist.yaml
  docs/dist.yaml
Labels: API Error

#93 Fb app element history and logs management
  web/package.json
  web/src/admin/location/LocationdetailsForm/LocationFormGetAll.js
  web/src/admin/logs/LogsManagement/LogByUserManager.js
  web/src/admin/logs/LogsManagement/LogListElement.js
  web/src/admin/logs/LogsManagement/LogListElementNoUser.js
  web/src/admin/logs/LogsManagement/UserLogManager.js
  web/src/admin/stocks/HistoryDisplay/EventListElement.js
  web/src/admin/stocks/HistoryDisplay/HistoryByProductManager.js
  web/src/admin/stocks/HistoryDisplay/HistoryManager.js
  web/src/admin/stocks/HistoryDisplay/ProductListElement.js
  web/src/admin/stocks/LocationManagement/ElementByLocationManager.js
  web/src/admin/stocks/LocationManagement/ElementListElement.js
  web/src/admin/stocks/ProductManagement/ElementByProductManager.js
  web/src/admin/stocks/ProductManagement/ElementListElement.js
  web/src/admin/stocks/StocksManagerMenu.js
  web/src/admin/user/UserManager.js
  web/src/pages/HomePage.js
  web/src/utils/list/List.js
Labels: Web

#101 Add alert to system
  Server/app.js
  Server/controllers/alertController.js
  Server/controllers/baseController.js
  Server/controllers/elementController.js
  Server/controllers/errorController.js
  Server/controllers/userController.js
  Server/models/alertModel.js
  Server/models/productModel.js
  Server/models/userModel.js
  Server/routes/alertRoutes.js
  Server/routes/elementRoutes.js
  Server/routes/userRoutes.js
  Server/test/controller/QRControllerTest.js
  Server/test/controller/alertControllerTest.js
  Server/test/controller/authControllerTest.js
  Server/test/controller/elementControllerTest.js
  Server/test/controller/eventControllerTest.js
  Server/test/models/QRModelTest.js
  Server/test/models/alertModelTest.js
  Server/test/models/productModelTest.js
  Server/test/models/userModelTest.js
  package.json
Labels: Server

#102 Addded display of alert for date
  web/src/admin/alert/AlertDisplay.js
  web/src/admin/alert/AlertListElement.js
  web/src/admin/alert/AlertListProduct.js
  web/src/admin/alert/AlertManager.js
  web/src/admin/alert/AlertProductDisplay.js
  web/src/admin/logs/LogsManagement/LogByUserManager.js
  web/src/admin/logs/LogsManagement/UserLogManager.js
  web/src/admin/product/Product.js
  web/src/admin/product/ProductdetailsForm/ProductFormAdd.js
  web/src/admin/product/ProductdetailsForm/ProductFormUpdate.js
  web/src/admin/product/ProductdetailsForm/ProductListElement.js
  web/src/admin/stocks/HistoryDisplay/HistoryByProductManager.js
  web/src/admin/stocks/HistoryDisplay/HistoryManager.js
  web/src/admin/stocks/LocationManagement/LocationManager.js
  web/src/admin/stocks/ProductManagement/ElementByProductManager.js
  web/src/admin/stocks/ProductManagement/ProductManager.js
  web/src/admin/stocks/StocksManagerMenu.js
  web/src/admin/user/UserManagementMenu.js
  web/src/admin/user/UserManager.js
  web/src/pages/HomePage.js
  web/src/utils/list/List.js
Labels: Web
