Repository PRO-Stonks/Projet_Stonks, pull requests merged in 2021-04, with the labels that each got.

#23 Fb server product
  app.js
  controllers/elementController.js
  controllers/locationController.js
  controllers/productController.js
  models/elementModel.js
  models/locationModel.js
  models/productModel.js
  routes/elementRoutes.js
  routes/locationRoutes.js
  routes/productRoutes.js
  tests/controller/elementControllerTest.js
  tests/controller/locationControllerTest.js
  tests/controller/productControllerTest.js
  tests/models/elementModelTest.js
  tests/models/locationModelTest.js
  tests/models/productModelTest.js
Labels: enhancement

#27 Web login
  web/package.json
  web/src/App.css
  web/src/App.js
  web/src/MainPage.js
  web/src/Spinner.js
  web/src/login/LogInForm.js
  web/src/login/LogInForm2.js
Labels: enhancement

#17 [TOREVIEW] Fb server added structure
  .gitignore
  .pnp.js
  Structure.md
  app.js
  config.env
  controllers/QRController.js
  controllers/authController.js
  controllers/baseController.js
  controllers/elementController.js
  controllers/errorController.js
  controllers/eventController.js
  controllers/locationController.js
  controllers/productController.js
  controllers/userController.js
  models/QRModel.js
  models/elementModel.js
  models/eventModel.js
  models/locationModel.js
  models/productModel.js
  models/userModel.js
  package.json
  routes/QRRoutes.js
  routes/elementRoutes.js
  routes/eventRoutes.js
  routes/locationRoutes.js
  routes/productRoutes.js
  routes/userRoutes.js
  server.js
  tests/controller/QRControllerTest.js
  tests/controller/authControllerTest.js
  tests/controller/elementControllerTest.js
  tests/controller/eventControllerTest.js
  tests/controller/locationControllerTest.js
  tests/controller/productControllerTest.js
  tests/models/QRModelTest.js
  tests/models/elementModelTest.js
  tests/models/eventModelTest.js
  tests/models/locationModelTest.js
  tests/models/productModelTest.js
  tests/models/userModelTest.js
  utils/apiFeatures.js
  utils/appError.js
Labels: enhancement

#38 Add CI and correct structure
  .github/workflows/test.yaml
  Server/.gitignore
  Server/Structure.md
  Server/app.js
  Server/controllers/QRController.js
  Server/controllers/authController.js
  Server/controllers/baseController.js
  Server/controllers/elementController.js
  Server/controllers/errorController.js
  Server/controllers/eventController.js
  Server/controllers/locationController.js
  Server/controllers/productController.js
  Server/controllers/userController.js
  Server/models/QRModel.js
  Server/models/elementModel.js
  Server/models/eventModel.js
  Server/models/locationModel.js
  Server/models/productModel.js
  Server/models/userModel.js
  Server/package.json
  Server/routes/QRRoutes.js
  Server/routes/elementRoutes.js
  Server/routes/eventRoutes.js
  Server/routes/locationRoutes.js
  Server/routes/productRoutes.js
  Server/routes/userRoutes.js
  Server/server.js
  Server/test/controller/QRControllerTest.js
  Server/test/controller/authControllerTest.js
  Server/test/controller/elementControllerTest.js
  Server/test/controller/eventControllerTest.js
  Server/test/controller/locationControllerTest.js
  Server/test/controller/productControllerTest.js
  Server/test/models/QRModelTest.js
  Server/test/models/elementModelTest.js
  Server/test/models/eventModelTest.js
  Server/test/models/locationModelTest.js
  Server/test/models/productModelTest.js
  Server/test/models/userModelTest.js
  Server/utils/apiFeatures.js
  Server/utils/appError.js
  test/controller/QRControllerTest.js
  test/controller/authControllerTest.js
  test/controller/elementControllerTest.js
  test/controller/eventControllerTest.js
  test/controller/locationControllerTest.js
  test/controller/productControllerTest.js
  test/models/QRModelTest.js
  test/models/elementModelTest.js
  test/models/eventModelTest.js
  test/models/locationModelTest.js
  test/models/productModelTest.js
  test/models/userModelTest.js
Labels: enhancement

#39 corrected structure
  .github/workflows/test.yaml
  .pnp.js
  Server/Structure.md
  Server/config.env
  Server/controllers/baseController.js
  Server/controllers/elementController.js
  Server/package.json
  Server/routes/elementRoutes.js
  Server/test/controller/QRControllerTest.js
  Server/test/controller/authControllerTest.js
  Server/test/controller/elementControllerTest.js
  Server/test/controller/eventControllerTest.js
  Server/test/controller/locationControllerTest.js
  Server/test/controller/productControllerTest.js
  Server/test/models/QRModelTest.js
  Server/test/models/elementModelTest.js
  Server/test/models/eventModelTest.js
  Server/test/models/locationModelTest.js
  Server/test/models/productModelTest.js
  Server/test/models/userModelTest.js
  Structure.md
  app.js
  controllers/QRController.js
  controllers/authController.js
  controllers/baseController.js
  controllers/elementController.js
  controllers/errorController.js
  controllers/eventController.js
  controllers/locationController.js
  controllers/productController.js
  controllers/userController.js
  models/QRModel.js
  models/elementModel.js
  models/eventModel.js
  models/locationModel.js
  models/productModel.js
  models/userModel.js
  mongo.js
  package.json
  routes/QRRoutes.js
  routes/elementRoutes.js
  routes/eventRoutes.js
  routes/locationRoutes.js
  routes/productRoutes.js
  routes/userRoutes.js
  server.js
  test/controller/QRControllerTest.js
  test/controller/authControllerTest.js
  test/controller/elementControllerTest.js
  test/controller/eventControllerTest.js
  test/controller/locationControllerTest.js
  test/controller/productControllerTest.js
  test/models/QRModelTest.js
  test/models/elementModelTest.js
  test/models/eventModelTest.js
  test/models/locationModelTest.js
  test/models/productModelTest.js
  test/models/userModelTest.js
  utils/apiFeatures.js
  utils/appError.js
Labels: bug, invalid

#48 Fb server correction session
  Server/controllers/elementController.js
Labels: Server, bug

#37 [WIP] QR creation
  web/src/App.js
  web/src/MainPage.js
  web/src/URL.js
  web/src/admin/QR/PrinterWrapper.js
  web/src/admin/QR/QR.js
  web/src/admin/QR/QRCodeCreator.js
Labels: Server, enhancement

#50 Modified delete response to have no body
  Server/controllers/baseController.js
  Server/controllers/elementController.js
  Server/models/productModel.js
Labels: Server, invalid

#53 Fm web
  web/package.json
  web/public/index.html
  web/src/App.js
  web/src/Spinner.js
  web/src/admin/QR/QR.js
  web/src/admin/QR/QRCodeCreator.js
  web/src/admin/product/ActionsForm.js
  web/src/admin/product/Product.js
  web/src/admin/product/ProductManagement.js
  web/src/admin/product/ProductdetailsForm/ProductFormAdd.js
  web/src/admin/product/ProductdetailsForm/ProductFormDelete.js
  web/src/admin/product/ProductdetailsForm/ProductFormGet.js
  web/src/admin/product/ProductdetailsForm/ProductFormGetAll.js
  web/src/admin/product/ProductdetailsForm/ProductFormUpdate.js
  web/src/assets/Webp.net-resizeimage.png
  web/src/css/App.css
  web/src/css/index.css
  web/src/index.js
  web/src/pages/About.js
  web/src/pages/Footer.js
  web/src/pages/HomePage.js
  web/src/pages/NavAdmin.js
  web/src/pages/NavWelcome.js
  web/src/utils/BaseManagement.js
  web/src/utils/URL.js
  web/src/utils/list/Itemtest.js
  web/src/utils/list/List.js
Labels: Web

#42 [WIP] Fb web product
  web/package.json
  web/public/index.html
  web/src/App.js
  web/src/MainPage.js
  web/src/Spinner.js
  web/src/admin/QR/PrinterWrapper.js
  web/src/admin/QR/QR.js
  web/src/admin/QR/QRCodeCreator.js
  web/src/admin/product/ActionsForm.js
  web/src/admin/product/Product.js
  web/src/admin/product/ProductManagement.js
  web/src/admin/product/ProductdetailsForm/ProductFormAdd.js
  web/src/admin/product/ProductdetailsForm/ProductFormDelete.js
  web/src/admin/product/ProductdetailsForm/ProductFormGet.js
  web/src/admin/product/ProductdetailsForm/ProductFormGetAll.js
  web/src/admin/product/ProductdetailsForm/ProductFormUpdate.js
  web/src/assets/Webp.net-resizeimage.png
  web/src/css/App.css
  web/src/css/index.css
  web/src/index.js
  web/src/pages/About.js
  web/src/pages/Footer.js
  web/src/pages/HomePage.js
  web/src/pages/NavAdmin.js
  web/src/pages/NavWelcome.js
  web/src/utils/BaseManagement.js
  web/src/utils/URL.js
  web/src/utils/list/Itemtest.js
  web/src/utils/list/List.js
Labels: Web, enhancement

#25 [WIP] Web
  web/.gitignore
  web/package.json
  web/public/favicon.ico
  web/public/index.html
  web/public/logo192.png
  web/public/logo512.png
  web/public/manifest.json
  web/public/robots.txt
  web/src/App.js
  web/src/App.test.js
  web/src/MainPage.js
  web/src/Spinner.js
  web/src/URL.js
  web/src/admin/QR/PrinterWrapper.js
  web/src/admin/QR/QR.js
  web/src/admin/QR/QRCodeCreator.js
  web/src/admin/product/ActionsForm.js
  web/src/admin/product/Product.js
  web/src/admin/product/ProductManagement.js
  web/src/admin/product/ProductdetailsForm/ProductFormAdd.js
  web/src/admin/product/ProductdetailsForm/ProductFormDelete.js
  web/src/admin/product/ProductdetailsForm/ProductFormGet.js
  web/src/admin/product/ProductdetailsForm/ProductFormGetAll.js
  web/src/admin/product/ProductdetailsForm/ProductFormUpdate.js
  web/src/assets/Webp.net-resizeimage.png
  web/src/assets/adaptive-icon.png
  web/src/assets/favicon.png
  web/src/assets/icon.png
  web/src/assets/splash.png
  web/src/assets/stonks.png
  web/src/assets/stonks2.png
  web/src/assets/stonks3.png
  web/src/assets/stonks4.png
  web/src/css/App.css
  web/src/css/index.css
  web/src/index.js
  web/src/login/LogInForm.js
  web/src/login/LogInForm2.js
  web/src/logo.svg
  web/src/pages/About.js
  web/src/pages/Footer.js
  web/src/pages/HomePage.js
  web/src/pages/NavAdmin.js
  web/src/pages/NavWelcome.js
  web/src/reportWebVitals.js
  web/src/setupTests.js
  web/src/utils/BaseManagement.js
  web/src/utils/URL.js
  web/src/utils/list/Itemtest.js
  web/src/utils/list/List.js
Labels: Web, enhancement

#34 [WIP] Fb app structure
  STONKS/.yarnrc.yml
  STONKS/App.js
  STONKS/UserContext.js
  STONKS/app.json
  STONKS/assets/adaptive-icon.png
  STONKS/assets/favicon.png
  STONKS/assets/icon.png
  STONKS/assets/splash.png
  STONKS/assets/stonks.png
  STONKS/assets/stonks2.png
  STONKS/assets/stonks3.png
  STONKS/assets/stonks4.png
  STONKS/navigation/Navigation.js
  STONKS/package.json
  STONKS/request/getProducts.js
  STONKS/request/verifyUser.js
  STONKS/screens/Add.js
  STONKS/screens/Login.js
  STONKS/screens/Menu.js
  STONKS/screens/Options.js
  STONKS/screens/Scan.js
  STONKS/styles/LoginStyle.js
  STONKS/styles/MenuStyle.js
  STONKS/url.js
  STONKS/utils/getDate.js
Labels: App, enhancement

#66 Add user hard delete
  Server/controllers/baseController.js
  Server/controllers/elementController.js
  Server/controllers/userController.js
  Server/routes/userRoutes.js
Labels: Server

#57 Fc server session
  Server/controllers/elementController.js
Labels: Server, bug

#65 Update index.html
  docs/index.html
Labels: API Error, bug

#67 Corrected incorrect first add
  STONKS/screens/Add.js
  STONKS/screens/Scan.js
Labels: App, bug
